* {
    all:unset;
}

$background: #1f1816;
$light: #cdaca3;
$hover: #724033;
$darker: #bf6149;
$radius: 10px;

.main {
    background-color: $background;
    border-radius: $radius;
    font-family: "Roboto";
}

.workspaces button {
    padding: 10px 15px;

    &:hover, &.active {
        background-color: $hover;

        &:first-child {
            border-radius: $radius 0px 0px $radius;
        }
    }
}

.title {
    font-weight: 500;
    font-size: 1.25rem;
}

.right {
    padding-right: 10px;
    & > * {
        padding-right: 20px;
    }
}

.progress scale trough {
    all: unset;
    min-width: 50px;
    min-height: 5px;
    border-radius: 999px;
    background-color: $light;

    highlight {
        all: unset;
        border-radius: 999px;
        background-color: $darker;
    }
}

.headphones {
    color: white;
}

.headphones-off {
    color: $darker;
}

.sun {
    color: yellow;
}

.battery-fully {
    padding: 0rem 5px;
    color: green;
}

.battery-full {
    padding: 0rem 5px;
    color: rgb(0, 198, 0);
}

.battery-middle {
    padding: 0rem 5px;
    color: yellow;
}

.battery-low {
    padding: 0rem 5px;
    color: orange;
}

.battery-critical {
    padding: 0rem 5px;
    color: red;
}

.bolt {
    color: rgb(71, 70, 70);
    padding: 0 2px;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.calendar {
    background-color: $background;
    border-radius: $radius;
    padding: 10px;
    font-size:large;
    font-weight: bold;
}

.player {
    background-color: $background;
    border-radius: $radius;
}

.img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 150px;
    border-radius: $radius;
    margin: 10px;
    min-height: 150px;
    min-width: 150px;
}

.name {
    font-size: 1.75rem;
    font-family: "Poppins";
    font-weight: bold;
    color: $darker;
}

.info {
    padding: 20px 0px;
}

.artist {
    font-size: x-large;
    font-family: "Poppins";
    font-weight: 700;
    color: $hover;
}

.controls {
    font-size: 3rem;
}

tooltip {
    padding: 8px 4px;
    border-radius: 10px;
    background-color: $background;
    font-weight: bold;
}

.wifi {
    font-size: x-large;
}